<!DOCTYPE html>
<html lang="en">
{% include "header_common.html" %}
<body>
<style>
    .gradient-form {
        background: rgb(13, 61, 99);
        background: linear-gradient(90deg, rgba(13, 61, 99, 1) 0%, rgba(36, 92, 127, 1) 30%, rgba(107, 230, 255, 1) 100%);
    }

    .flat-background {
        background: #61D0EB;
    }

</style>
<div class="container-fluid p-0 h-100 animate__animated animate__fadeIn">
    <div class="row gx-0 h-100">
        <div class="col-3 gradient-form h-100 position-fixed">
            <div class="d-flex justify-content-between h-100">
                <div class="p-2 d-flex flex-column align-items-center h-100 w-75 justify-content-center text-white">
                    <h1 style="font-family: 'Damion', cursive;">Pt</h1>
                    <p class="ps-3">Sebelum anda memulai , mohon isi data diri anda terlebih dahulu</p>
                    <br><br><br><br><br><br><br>
                </div>
                <div class="mt-auto p-2 w-25 bg-white"
                     style="clip-path: ellipse(55% 50% at 100% 50%); height: 100% !important;">
                </div>
            </div>
        </div>
        <div class="col-3 h-100">
            <div class="d-flex justify-content-between h-100"></div>
        </div>
        <div class="col-9">
            <form class="h-100 mt-4 needs-validation" method="post" action="register" novalidate>
                {% csrf_token %}
                <div class="p-2 d-flex flex-column align-items-center h-100 justify-content-center">
                    <h1 style="color: #2D698B" class="mb-4">Form Data Diri</h1>

                    <input name="full_name" class="form-control mb-3" style="width: 60%;" type="text"
                           placeholder="Nama lengkap beserta gelar" required>
                    <div class="invalid-feedback" style="width:60%; margin-top: -1rem;">
                        Mohon isi nama lengkap anda beserta gelar
                    </div>
                    <input name="NIP" class="form-control mb-3" style="width: 60%;" type="text" placeholder="NIP"
                           required>
                    <div class="invalid-feedback" style="width:60%; margin-top: -1rem;">
                        Mohon isi NIP sesuai dengan ktp
                    </div>
                    <input name="ttl" class="form-control mb-3" style="width: 60%;" type="text"
                           placeholder="Tempat Tanggal Lahir" required>
                    <div class="invalid-feedback" style="width:60%; margin-top: -1rem;">
                        Mohon isi tempat tanggal lahir anda
                    </div>
                    <select name="status_perkawinan" class="form-select mb-3" style="width: 60%; cursor: pointer;"
                            id="exampleFormControlSelect1" required>
                        <option selected disabled value="">Status Perkawinan</option>
                        <option value="Kawin">Kawin</option>
                        <option value="Belum Kawin">Belum Kawin</option>
                        <option value="Cerai">Cerai</option>
                    </select>
                     <div class="invalid-feedback" style="width:60%; margin-top: -1rem;">
                        Mohon pilih status perkawinan anda
                    </div>
                    <select name="agama" class="form-select mb-3" style="width: 60%; cursor: pointer;"
                            id="exampleFormControlSelect2" required>
                        <option selected disabled value="">Agama</option>
                        <option value="Islam">Islam</option>
                        <option value="Kristen">Kristen</option>
                        <option value="Katolik">Katolik</option>
                        <option value="Budha">Budha</option>
                        <option value="Hindu">Hindu</option>
                    </select>
                     <div class="invalid-feedback" style="width:60%; margin-top: -1rem;">
                        Mohon pilih agama anda
                    </div>
                    <div style="width: 60%;">
                        <label class="mb-1" style="color: #2D698B">Pendidikan Formal</label>
                        <input name="pendidikanSma" class="form-control mb-3" type="text"
                               placeholder="SMA">
                    </div>
                    <input name="pendidikanD3" class="form-control mb-3" style="width: 60%;" type="text"
                           placeholder="D3">
                    <input name="pendidikanS1" class="form-control mb-3" style="width: 60%;" type="text"
                           placeholder="S1">
                    <input name="pendidikanS2" class="form-control mb-3" style="width: 60%;" type="text"
                           placeholder="S2">
                    <div style="width: 60%;" class="mb-3">
                        <input name="pendidikanS3" class="form-control" type="text"
                               placeholder="S3">
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Boleh dikosongkan jika tidak ada
                        </small>
                    </div>

                    <div style="width: 60%;">
                        <label class="mb-1" style="color: #2D698B">Rekam Jejak Jabatan (diurutkan dari yang
                            terbaru)</label>
                        <input name="jabatanI" class="form-control mb-3" type="text" placeholder="Jabatan I">
                    </div>
                    <input name="jabatanII" class="form-control mb-3" style="width: 60%;" type="text"
                           placeholder="Jabatan II">
                    <div style="width: 60%;" class="mb-3">
                        <input name="jabatanIII" class="form-control" type="text" placeholder="Jabatan III">
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Boleh dikosongkan jika tidak ada
                        </small>
                    </div>

                    <div style="width: 60%;">
                        <label class="mb-1" style="color: #2D698B">Riwayat Pengembangan Kompetensi
                            (seminar, diklat, kursus, penataran, atau magang)</label>
                        <input name="riwayatI" class="form-control mb-3" type="text" placeholder="Riwayat I">
                    </div>
                    <input name="riwayatII" class="form-control mb-3" style="width: 60%;" type="text"
                           placeholder="RiwayatII">
                    <div style="width: 60%;" class="mb-3">
                        <input name="riwayatIII" class="form-control" type="text" placeholder="Riwayat III">
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Boleh dikosongkan jika tidak ada
                        </small>
                    </div>

                    <div style="width: 60%;">
                        <label class="mb-1" style="color: #2D698B">Prestasi / Penghargaan (diurutkan dari yang
                            terbaru)</label>
                        <input name="PenghargaanI" class="form-control mb-3" type="text" placeholder="Penghargaan I">
                    </div>
                    <input name="PenghargaanII" class="form-control mb-3" style="width: 60%;" type="text"
                           placeholder="Penghargaan II">
                    <div style="width: 60%;" class="mb-3">
                        <input name="PenghargaanIII" class="form-control" type="text" placeholder="Penghargaan III">
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Boleh dikosongkan jika tidak ada
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary mb-5" style="width: 15%">Kirim</button>

                </div>
            </form>

        </div>
    </div>
</div>

{% include "footer_common.html" %}
<script>
    (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
</body>
</html>