<!DOCTYPE html>
<html lang="en">
{% include "header_common.html" %}
<body>
<style>
    .gradient-form {
        background: rgb(13, 61, 99);
        background: linear-gradient(90deg, rgba(13, 61, 99, 1) 0%, rgba(36, 92, 127, 1) 30%, rgba(107, 230, 255, 1) 100%);
    }

    .flat-background {
        background: #61D0EB;
    }

</style>
<div class="container-fluid p-0 h-100 animate__animated animate__fadeIn">
    <div class="row gx-0 h-100">
        <div class="col-3 gradient-form h-100">
            <div class="d-flex justify-content-between h-100">
                <div class="p-2 d-flex flex-column align-items-center h-100 w-75 justify-content-center text-white">
                    <h1 style="font-family: 'Damion', cursive;">Pt</h1>
                    <p class="ps-3">Sebelum anda memulai , mohon isi data diri anda terlebih dahulu</p>
                    <br><br><br><br><br><br><br>
                </div>
                <div class="mt-auto p-2 w-25 bg-white"
                     style="clip-path: ellipse(55% 50% at 100% 50%); height: 100% !important;">
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="p-2 d-flex flex-column align-items-center h-100 justify-content-center">
                <h1 style="color: #2D698B">Potensiku</h1>
        </div>
    </div>
</div>

{% include "footer_common.html" %}
</body>
</html>