<!DOCTYPE html>
<html lang="en">
{% include "header_common.html" %}
<body>
<div class="container-fluid p-0 h-100 animate__animated animate__fadeIn">
    <div class="row gx-0 h-100">
        <div class="col p-0">
            <div class="d-flex align-items-center h-100">
                <div class="ps-5">
                    <p class="h2" style="color: #2D698B">Selamat datang di Potensiku </p>
                    <p class="text-muted">Potensiku didesain untuk mengidentifikasikan potensi yang dimiliki individu.
                        Temukan potensi anda di sini. Untuk memulai , silahkan masukan token dibawah ini</p>
                    <form action="#">
                        <input class="form-control mb-3" type="text" placeholder="Masukan token">
                        <button type="submit" class="btn btn-primary mb-2 w-25">Mulai</button>
                    </form>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                </div>
            </div>
        </div>
        <div class="col p-0">
            <div class="d-flex align-items-end flex-column h-100">
                <div class="mt-auto p-2 w-100 bg-potensi"
                     style="clip-path: circle(95% at 100% 100%); height: 92% !important;">
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer_common.html" %}
</body>
</html>