<!DOCTYPE html>
<html lang="en">
{% include "header_common.html" %}
<body>
{% load static %}
<style>
    .gradient-form {
        background: rgb(13, 61, 99);
        background: linear-gradient(90deg, rgba(13, 61, 99, 1) 0%, rgba(36, 92, 127, 1) 30%, rgba(107, 230, 255, 1) 100%);
    }

    .flat-background {
        background: #61D0EB;
    }


</style>
{% include 'potensiku_project/navbar.html' %}
<div class="container-fluid p-0 min-vh-100 animate__animated animate__fadeIn gradient-form">
    <div class="d-flex flex-column align-items-center justify-content-center w-100 min-vh-100">
        <div class=" mt-5 mb-2 d-flex flex-column bg-white rounded shadow-lg"
             style="width: 85%">
            <div class="bg-dark text-white px-2 py-2 fw-bold"
                 style="   font-size: 1rem;font-weight: 400;line-height: 1.5;">
                Buat Token Baru
            </div>
            {% if message is not none %}
                <div class="px-2">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </symbol>
                    </svg>
                    <div class="alert alert-success d-flex align-items-center my-3" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                            <use xlink:href="#check-circle-fill"/>
                        </svg>
                        <div>
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="my-3 px-2">
                <form>
                    <input type="number" name="number_of_token" class="form-control w-50" id="exampleInputEmail1"
                           placeholder="jumlah token yang akan dibuat" required>
                    <button type="submit" class="btn btn-dark mt-3">Buat Token</button>
                </form>
            </div>
        </div>
        <div class=" mb-5 d-flex flex-column bg-white rounded shadow-lg"
             style="width: 85%">
            <table class="table table-striped">
                <thead>
                <tr class="table-dark">
                    <th scope="col">No</th>
                    <th scope="col">Token</th>
                    <th scope="col">Tanggal Dibuat</th>
                    <th scope="col">Sudah Digunakan</th>
                </tr>
                </thead>
                <tbody>
                {% for token in tokens %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ token.token }}</td>
                        <td>{{ token.created_date }}</td>
                        <td>{{ token.is_used|yesno }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% include "footer_common.html" %}
<script>
</script>
</body>
</html>