<!DOCTYPE html>
<html lang="en">
{% include "header_common.html" %}
<body>
<style>
    .gradient-form {
        background: rgb(13, 61, 99);
        background: linear-gradient(90deg, rgba(13, 61, 99, 1) 0%, rgba(36, 92, 127, 1) 30%, rgba(107, 230, 255, 1) 100%);
    }

    .flat-background {
        background: #61D0EB;
    }

</style>
<div class="container-fluid p-0 h-100">
    <div class="d-flex justify-content-center w-100 h-100" style="padding-top:15%">

        <form action="authenticate" method="post">
            <div class="d-flex justify-content-center flex-column">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text"  style="width: 16rem" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password"  style="width: 16rem" class="form-control" name="password">
                </div>
                <button type="submit" style="width: 16rem" class="btn btn-primary">Login</button>
            </div>
        </form>

    </div>
</div>
{% include "footer_common.html" %}
</body>
</html>